


<header class="header">
    <div class="header-top">
        <div class="row">
            <div class="col-lg-10 col-md-12">
                <a routerLink="/" class="text-muted"><h4 class="text-center">
                    ReactiveNews
                </h4></a>
            </div>
            <div class="col-lg-2 col-md-12">
                <div class="header-social-media-icons">
                    <a href="javascript:;"><img src="assets/icons/facebook.png" alt=""></a>
                    <a href="javascript:;"><img src="assets/icons/twitter.png" alt=""></a>
                    <a href="javascript:;"><img src="assets/icons/g+.png" alt=""></a>
                    <a href="javascript:;"><img src="assets/icons/instagram.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <app-navigation></app-navigation>
</header>

