




<nav class="navigation">
    <a class="burder-btn" href="#"> <img src="assets/icons/burger.png" alt=""> </a>
    <ul class="navbar navigation-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="javascript:;">Latest </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:;">Popular</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:;">Subscribe</a>
            </li>
    </ul>

    <ul class="navbar navigation-nav navbar-right-side">
            <li class="nav-item right-border">
              <a class="nav-link" href="javascript:;"><img src="assets/icons/user_000000_14.png"> SIGN IN </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:;" (click)="onSeachClicked()"><img src="assets/icons/search_000000_14.png"> SEARCH </a>
            </li>
    </ul>
</nav>