


<footer class="footer">
    <div class="footer-main">
            <div class="container">
                    <div class="row">
                            <div class="col-lg-3 col-md-6">
                                <h5>SECTIONS</h5>
                                <ul class="list-unstyled">
                                    <li><a href="javascript:;">International</a></li>
                                    <li><a href="javascript:;">Health</a></li>
                                    <li><a href="javascript:;">Sports</a></li>
                                    <li><a href="javascript:;">Multimedia</a></li>
                                    <li><a href="javascript:;">Science &amp; Technology</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                    <h5>INTERACTIVE</h5>
                                <ul class="list-unstyled">
                                    <li><a href="javascript:;">Live Stream</a></li>
                                    <li><a href="javascript:;">Videos</a></li>
                                    <li><a href="javascript:;">Blogs</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                    <h5>CORPORATE</h5>
                                    <ul class="list-unstyled">
                                        <li><a href="javascript:;">Feedback</a></li>
                                        <li><a href="javascript:;">Contact Us</a></li>
                                        <li><a href="javascript:;">About Us</a></li>
                                        <li><a href="javascript:;">Career</a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                        <h5>REATIVE NETWORK</h5>
                                        <div class="footer-social-media-icons">
                                                <a href="javascript:;"><img src="assets/icons/fb.png" alt=""></a>
                                                <a href="javascript:;"><img src="assets/icons/insta.png" alt=""></a>
                                                <a href="javascript:;"><img src="assets/icons/linkin.png" alt=""></a>
                                                <a href="javascript:;"><img src="assets/icons/twitterr.png" alt=""></a>
                                            </div>
                                    </div>
                        </div>
                   
                </div>
            </div>
            <div class="footer-bottom bg-dark" style="padding:20px;">
                    <div class="container text-center">
                            <span class="text-white">Copyright &copy; ReactiveNews ALL RIGHTS RESEVED.</span>
                    </div>
            </div>
    </footer>